.text-NIM {
    font-size: 12px;
}

.table-white {
    background: #FFF;
}

.lecturer-final-project-title {
    display: none;
}

.login-card-body {
    border-radius: 15px;
}

label.check-login {
    font-weight: 100 !important;
    font-size: 15px;
}

.img-circle {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
}

.bg-gradient-warning,
.badge-warning {
    color: #FFF !important;
}

/* Button Gradient */
