.text-NIM {
    font-size: 12px;
}

.table-white {
    background: #FFF;
}

.lecturer-final-project-title {
    display: none;
}

.login-card-body {
    border-radius: 15px;
}

label.check-login {
    font-weight: 100 !important;
    font-size: 15px;
}

.img-circle {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
}

.bg-gradient-warning,
.btn-warning,
.badge-warning {
    color: #FFF !important;
}

/* Button Gradient */
.dt-buttons {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttons-html5 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}

.gallery-image {
    position: relative;
    display: inline-block;
}

.gallery-image button {
    position: absolute;
    top: 0;
    right: 0;
}

.btn.fs-12 {
    font-size: 12px !important;
}

.pdfobject-container {
    height: 100%;
}

.pdfobject {
    border: 1px solid #666;
}

.table td, .table th {
    vertical-align: middle !important;
}